<div class="header">
    <a href="#default" class="logo">SURVIVERS</a>
    <div class="header-right">

        <a class="active" href="#home">Profile</a>
        <% if (!user) { %>
            <% if (user.Status='admin') { %>
                <a href="/Admin/admin">Admin</a>
                <% } %>
                    <% } %>
                        <a href="/games/Games">Games</a>
                        <a href="/users/logout">Logout</a>
    </div>
</div>