<html lang="fr">

<head>
    <title>Accueil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>


    <div class="container ">


        <form action="/users/login" method="post" style="width: 40%; margin: auto;">
            <div class="group-form">
                <label for="id">Identifiant</label>
                <input type="text" name="mail">
            </div>
            <div class="group-form">
                <label for="pwd">Mot de passe</label>
                <input type="password" name="pwd">
            </div>
            <div>
                <button type="submit" class="button"> Se connecter</button>

            </div>
            <small>vous n'avez pas encore de compte ?</small>
            <a href="/users/register" class="button"> Créer un compte</a>
        </form>



    </div>

</body>

</html>