<html lang="fr">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
}

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-width: 20em;
    margin: 1em;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card img{
    width: 100%;
    height: 20em;
  }
  .containerCard {
    padding: 1em  0.5em;
    text-align: center;
  }
  </style>
<body>
  <div class="header">
    <a href="#default" class="logo">CompanyLogo</a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>
  <div class="container ">
   
    <div class="cards">
      <% listGames.forEach(function(game){ %>
       
        <div class="card">
          <img src="<%= game.id %>" alt="Avatar" style="width:100%">
          <div class="containerCard">
            <h4> <div> <%= game.id %> </div></h4> 
            <p> <div> <%= game.name %> </div></p> 
          </div>
        </div>
      <% }); %>
      </div>
      
  </div>

</body>

</html>