<html lang="fr">

<head>
  <title>Scores</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>


  <div class="container ">
    <%= title %>

  </div>

</body>

</html>