<html lang="fr">

<head>
    <title>Connexion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<style>

</style>

<body>
    <div class="header">
        <a href="#default" class="logo">Survivers</a>

    </div>

    <div class="container ">

        <form action="/users/login" method="POST" style="width: 50%;margin: auto;">
            <div class="group-form">
                <h1>login</h1>
                <%- include('../partials/flashMessages') -%>
                    <label for="id">Identifiant</label>
                    <input type="text" name="pseudo">
            </div>
            <div class="group-form">
                <label for="pw">Mot de passe</label>
                <input type="password" name="pwd">
            </div>
            <div>
                <button type="submit" class="button"> Se connecter </button>
                <br>
                <small>Vous n'avez pas encore de compte ?</small>
                <br>
                <a href="/users/register" class="button">Créer un compte</a>
            </div>

        </form>




    </div>

</body>

</html>