<html lang="fr">

<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">SURVIVERS</a>
        <div class="header-right">

            <a class="active" href="#home">Profile</a>
            <% if (user.role=='admin') { %>
                <a href="/Admin/admin">Admin</a>
                <% } %>
                    <a href="/games">Games</a>
                    <a href="/users/logout">Logout</a>
        </div>
    </div>


    <div class="container ">
        <%- include('../partials/flashMessages') -%>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card m-2 p-1" style="width: 30em;">
                        <img class="card-img-top" <% if (user.urlimg) { %>src="/images/testt.jpg"
                        <% } else {%> src="/images/test.jpg"
                            <% } %> alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">My informations</h5>
                                    <p class="card-text">
                                        <%=user.bio%>
                                    </p>
                                </div>

                                <div class="card-body">
                                    <div class="list-group-item">
                                        <%=user.pseudo%>
                                    </div>
                                    <div class="list-group-item">
                                        <%=user.email%>
                                    </div>
                                    <button class="button" data-toggle="modal" data-target="#modifeirmesDonnees">Modifier</button>
                                </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card " style="display: flex;         flex-direction: row;                    flex-wrap: wrap;                    justify-content: space-between;">
                        <% user.Games.forEach(function(game){ %>
                            <div class="card m-1 " style="width: 15em;height: 15em;">
                                <img src="/images/test.jpg" alt="Avatar" style="width:100%">

                                <div class="card-body">
                                    name ::
                                    <%= game.name %>
                                        <p> score : <span> <%= game.score %></span> </p>
                                        <form method="get" action="/games/<%=game.url%>">
                                            <input type="hidden" name="id" value="<%=game.id%>">
                                            <button class="btn btn-success" type="submit">Jouer</button>
                                        </form>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>
            </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modifeirmesDonnees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" mathod="POST" action="/user/Modify">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes test</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>