<html lang="fr">

<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>

    <div class="container ">

        <form action="/users/register" method="POST" class="form center">
            <h1>Creation compte</h1>
            <%- include('../partials/flashMessages') -%>
                <div class="group-form">
                    <label for="pseudo">Identifiant</label>
                    <input type="text" name="pseudo">
                </div>
                <div class="group-form">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <div class="group-form">
                    <label for="pw">Mot de passe</label>
                    <input type="password" name="pwd">
                </div>
                <div class="group-form">
                    <label for="pw">Confirmation du mot de passe</label>
                    <input type="password" name="confirmPwd">
                </div>

                <div>
                    <button type="submit" class="button"> Créer compte</button>
                    <small>vous avez un compte ?</small>
                    <a href="/users/login" class="button"> Créer un compte</a>
                </div>

        </form>

    </div>

</body>

</html>