<html lang="fr">

<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">SURVIVERS</a>
        <div class="header-right">
            <a href="/users/profile">Profile</a>
            <a class="active" href="/games">Games</a>
            <a href="/users/logout">Logout</a>
        </div>
    </div>
    <%- include('../partials/flashMessages') -%>
        <div class="container p-3 ">

            <div class="row">
                <div class="col">
                    <div class="card m-3 p-2 d-flex flex-row justify-content-around flex-wrap" style="width: 100%;">
                        <% Games.forEach(function(game){ %>
                            <div class="card m-2 p-1" style="width: 30em;">
                                <img class="card-img-top" <% if (game.urlimg) { %>src="
                                <%=game.urlimg%>"
                                    <% } else {%> src="/images/test.jpg"
                                        <% } %> alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <% if (game.info) { %>
                                                        <%=game.info%>
                                                            <% } %>
                                                </h5>
                                                <p class="card-text">

                                                </p>
                                            </div>

                                            <div class="card-body">
                                                <div class="list-group-item">
                                                    <%=game.name%>
                                                </div>
                                            </div>
                                            <div class="card-footer text-muted">
                                                <button class="btn btn-primary">Scores</button>
                                                <a href="/games/<%=game.url%>">Jouer</a>
                                                <form method="POST" action="/games/addGame">
                                                    <input type="hidden" name="id" value="<%=game.id%>">
                                                    <button class="btn btn-success " type="submit">Ajouter</button>
                                                </form>

                                            </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>


        </div>

</body>
<script src="/FrontendJs/ajax.js"></script>



</html>