<html lang="fr">

<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">SURVIVERS</a>
        <div class="header-right">
            <a href="/users/profile">Profile</a>
            <a class="active" href="/games">Games</a>
            <a href="/users/logout">Logout</a>
        </div>
    </div>
    <%- include('../partials/flashMessages') -%>
    <div class="container p-3 ">

        <div class="row">

            <div class="col">
                <div class="card m-3 p-2 d-flex flex-row justify-content-around flex-wrap" style="width: 100%;">
                    <input id='nb' type="number" name="nb" placeholder="Ex : 15">
                    <input id="test" type="button" value="Test">
                    <p id="res"></p>
                    <form method="POST" action="/games/plusoumoins">
                        <input id="score" type="hidden">
                        <input id="idGame" type="hidden" value="<%=game.id%>">
                        <input id="submit" type="hidden">
                    </form>
                </div>
            </div>
        </div>


    </div>

</body>
<script src="/FrontendJs/ajax.js"></script>

<script>

    const goal = Math.round(Math.random() * 100);
    let score = 0;
    const res = document.getElementById("res");
    const btn = document.getElementById("test");

    btn.addEventListener('click', function (e) {
        let valeur = parseInt(document.getElementById("nb").value);
        score++;
        if (valeur < goal) {
            res.innerHTML = "C'est plus ! score actuel : " + score;
        } else if (valeur > goal) {
            res.innerHTML = "C'est moins ! score actuel : " + score;
        } else {
            res.innerHTML = "Victoire avec un score de " + score;
            document.getElementById("score").setAttribute('value', score);
            document.getElementById("submit").setAttribute('type', "submit");
        }
    });


</script>

</html>